@use '../utilities/_variables' as *;
@use '../utilities/_mixins' as *;

.copy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    position: absolute; 
    background-color: map-get($colors, bg-tertiary);
    border-radius: 0.25rem;
    opacity: 0.5;
    width: 40px; 
    height: 40px; 
    left: calc(100% - 50px);
    top: 10px;

    @include border-lighting(strong-neutral, soft-neutral);
    @include soft-shadow();

    &:hover {
        opacity: 1;
    }

    &__icon {
        width: 70%;
        height: 70%;
    }

    &--active-scroll {
        left: calc(100% - 70px);
    }
}