@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.header-button {
    padding: 0.25rem 0.5rem;
    background-color: clr(bg-secondary);
    border-radius: 0.25rem;
    @include border-lighting(strong-neutral, soft-neutral);
    cursor: pointer;

    &--active {
        background-color: clr(bg-tertiary);
        color: clr(text-off-white);
        @include border-lighting(soft-neutral, strong-neutral);
        box-shadow: unset;
    }

    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        background-color: clr(bg-quaternary);
    }
}