@use '../utilities/_variables' as *;
@use '../utilities/_mixins' as *;

.search-bar {
    padding-top: .5rem;
    
    &__input {
        padding-block: .5rem 1rem;
        border-radius: inherit;

        input {
            padding: .35rem .25rem;
            background-color: map-get($colors, bg-tertiary);
            color: inherit;
            @include border-lighting(soft-neutral, strong-neutral);

            &::placeholder {
                color: map-get($colors, text-off-white);
            }

        }

        button {
            &:active {
                @include border-lighting(soft-neutral, strong-neutral);
                background-color: map-get($colors, bg-tertiary);
            }
        }
    }
}