@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.textbox {
    position: relative;
    height: 100%;
    width: 100%;

    &__textarea {
        border: none;
        resize: none;
        width: 100%;
        height: 100%;
        line-height: 1.6;
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-color: clr(bg-secondary);

        &:hover, &:focus {
            background-color: clr(bg-tertiary);
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        position: absolute; 
        background-color: clr(bg-tertiary);
        border-radius: 0.5rem;
        opacity: 0.5;
        width: 2.5rem; 
        height: 2.5rem; 
        left: calc(100% - 50px);
        top: 0.625rem;

        @include border-lighting(strong-neutral, soft-neutral);

        &:hover {
            opacity: 1;
        }

        img {
            width: 60%;
            height: 60%;
        }

        &--active-scroll {
            left: calc(100% - 70px);
        }
    }
}