* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(220, 66%, 8%);
}

.text-box {
  border-radius: .35rem;
  background-color: hsl(219, 34%, 20%);
  color: hsl(28, 44%, 66%);
  padding: .5rem;
  line-height: 1.6;
}

