@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.header-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;

    & a {
        text-decoration: none;
    }

    &--dark {
        @include border-lighting(dark, mid-neutral, soft-neutral);
        background-color: clr-dark(bg-secondary);

        &:hover {
            background-color: clr-dark(bg-tertiary);
        }

        & img {
            filter: clr-dark(svg);
        }

        & a {
            color: clr-dark(text-white);
        }
    }

    &--light {
        @include border-lighting(light, mid-neutral, soft-neutral);
        background-color: clr-light(bg-secondary);

        &:hover {
            background-color: clr-light(bg-tertiary);
        }

        & img {
            filter: clr-light(svg);
        }

        & a {
            color: clr-light(text-grey);
        }
    }

    &--active-dark {
        @include border-lighting(dark, soft-neutral, mid-neutral);
        background-color: clr-dark(bg-tertiary);
        box-shadow: unset;

        &:hover {
            background-color: clr-dark(bg-quaternary);
        }
    }

    &--active-light {
        @include border-lighting(light, soft-neutral, mid-neutral);
        background-color: clr-light(bg-tertiary);
        box-shadow: unset;

        &:hover {
            background-color: clr-light(bg-quaternary);
        }
    }

    &__icon {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        width: 1.1rem;
        height: 1.1rem; 
    }

    @include mobile-m() {
        justify-content: center;
        width: 40vw;
    }
}