@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.header-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    background-color: clr(bg-secondary);
    border-radius: 0.4rem;
    @include border-lighting(mid-neutral, soft-neutral);
    cursor: pointer;

    &__icon {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        width: 1.1rem;
        height: 1.1rem; 
    }

    &--active {
        background-color: clr(bg-tertiary);
        @include border-lighting(soft-neutral, mid-neutral);
        box-shadow: unset;
    }

    &:hover {
        background-color: clr(bg-quaternary);
    }
}