@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.options-list {
    & li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & label:hover {
            cursor: pointer;
        }
    }

    &--disabled {
        opacity: 50% !important;
        pointer-events: none !important;
    }

    &__label {
        width: 50%;
        text-align: right;
        margin-right: 1rem;
    }

    &__container {
        width: 20%;
        display: flex;
        align-items: center;
    }

    &__checkerbox {
        appearance: none;
        position: relative;
        border-radius: 0.4rem;
        height: 2rem;
        width: 2rem;

        &--dark {
            @include border-lighting(dark, strong-neutral, soft-neutral);
            background-color: clr-dark(bg-quaternary);

            &:hover {
                background-color: clr-dark(bg-tertiary);
            }
        }

        &--light {
            @include border-lighting(light, strong-neutral, soft-neutral);
            background-color: clr-light(bg-quaternary);

            &:hover {
                background-color: clr-light(bg-tertiary);
            }
        }

        &:hover {
            cursor: pointer;           
        }

        &:checked::after {
            content: url('../../assets/svgs/positive_icon.svg');
            position: absolute;
            width: 110%;
            height: 110%;
        }
    }

    &__shadowy {
        left: calc(100% - 7rem);
        top: calc(100% - 4.325rem);
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        
        & button {
            background-color: transparent !important;
            border: none !important;

            &:hover + div {
                opacity: 100%;
                cursor: pointer;
            }

            &:hover > img {
                opacity: 100%;
                cursor: pointer;
            }
        }

        & img {
            transition: 0.2s;
            margin: 0.5rem;
            height: 3rem; 
            width: 3rem;
            opacity: 0;
        }

        & div {
            opacity: 0%;
            transition: 0.2s;
            text-align: center;
            border-radius: 0.5rem;
            padding: 0.5rem;
            width: 3rem;
            z-index: 100;
        }

        &--dark {
            & div {
                @include border-lighting(dark, strong-neutral, soft-neutral);
                background-color: clr-dark(bg-secondary);
                color: clr-dark(text-off-white);
            }
        }

        &--light {
            & div {
                @include border-lighting(light, strong-neutral, soft-neutral);
                background-color: clr-light(bg-secondary);
                color: clr-light(text-off-grey);
            }
        }
    }
}