@use '../utilities/_functions' as *;

.option-selector {
    padding-block: 1rem;
    display: block;
    
    &--dark {
        border-bottom: 0.065rem solid clr-dark(text-off-white);
    }

    &--light {
        border-bottom: 0.065rem solid clr-light(text-off-grey);
    }
    
    &:last-child {
        border: none;
    }

    h2, h3 {
        margin-bottom: 0.5rem;
    }

    ol, ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;
    }
}