@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.search-bar {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 100vh;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
        margin-block: 0.5rem;
        border-radius: 0.2rem;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.2rem;
    }

    &--dark {
        &::-webkit-scrollbar-track {
            background: clr-dark(text-off-white);
        }

        &::-webkit-scrollbar-thumb {
            background: clr-dark(bg-secondary);
        }
    }

    &--light {
        &::-webkit-scrollbar-track {
            background: clr-light(bg-secondary);
        }
    
        &::-webkit-scrollbar-thumb {
            background: clr-light(text-secondary);
        }
    } 
    
    &__container {
        padding-block: .5rem 1rem;
        height: 5rem;
        width: 70%;

        & input {
            border-radius: 0.25rem;
            padding: .35rem .25rem;
            width: 100%;
            color: inherit;
        }
    
        &--dark {
            & input {
                background-color: clr-dark(bg-tertiary);
                
                &::placeholder {
                    color: clr-dark(text-off-white);
                }
            }

            button {
                &:active {
                    @include border-lighting(dark, soft-neutral, strong-neutral);
                    background-color: clr-dark(bg-tertiary);
                }
            }
        }
    
        &--light {
            & input {
                background-color: clr-light(bg-tertiary);
        
                &::placeholder {
                    color: clr-light(text-off-white);
                }
            }

            button {
                &:active {
                    @include border-lighting(light, soft-neutral, strong-neutral);
                    background-color: clr-light(bg-tertiary);
                }
            }
        }
    }

    &__message {
        display: flex; 
        justify-content: center;
        padding-top: 0.25rem;
        margin-top: 0.5rem;
        width: 100%;

        & img {
            height: 1.5rem;
            width: 1.5rem;
        }

        & p {
            font-size: 1.25rem;
        }
    }

    @include tablet-s() {
        h2 {
            width: 90%;
        }
    }

    @include mobile-l() {
        &__container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            button {
                margin-top: 0.625rem;
            }
        }
    }
}