@use '../utilities/_functions' as *;
@use '../utilities/_mixins' as *;

.textbox {
    position: relative;
    height: 100%;
    width: 100%;

    &__textarea {
        border: none;
        resize: none;
        width: 100%;
        height: 100%;
        line-height: 1.6;
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;

        &::-webkit-scrollbar {
            width: 1.5rem;
        }
    
        &::-webkit-scrollbar-track {
            border-radius: 0.2rem;
            margin-top: 0.25rem;
        }
        
        &::-webkit-scrollbar-thumb { 
            border-radius: 1rem;
            margin: 1rem;
        }
    
        &--dark {
            background-color: clr-dark(bg-secondary);

            &:hover, &:focus {
                background-color: clr-dark(bg-tertiary);

                &::-webkit-scrollbar-thumb {
                    border: 0.5rem solid clr-dark(bg-tertiary);
                    background: clr-dark(bg-secondary);
                }
            }
    
            &::-webkit-scrollbar-thumb {
                border: 0.5rem solid clr-dark(bg-secondary);
                background: clr-dark(bg-tertiary);
            }
        }

        &--light {
            background-color: clr-light(bg-secondary);

            &:hover, &:focus {
                background-color: clr-light(bg-tertiary);

                &::-webkit-scrollbar-thumb {
                    border: 0.5rem solid clr-light(bg-tertiary);
                    background: clr-light(mid-neutral);
                }
            }
        
            &::-webkit-scrollbar-thumb {
                border: 0.5rem solid clr-light(bg-secondary);
                background: clr-light(soft-neutral);
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        position: absolute; 
        border-radius: 0.5rem;
        opacity: 0.5;
        width: 2.5rem; 
        height: 2.5rem; 
        left: calc(100% - 50px);
        top: 0.625rem;

        &--dark {
            @include border-lighting(dark, strong-neutral, soft-neutral);
            background-color: clr-dark(bg-tertiary);
        }

        &--light {
            @include border-lighting(light, strong-neutral, soft-neutral);
            background-color: clr-light(bg-tertiary);
        }

        &:hover {
            opacity: 1;
        }

        &--active-scroll {
            left: calc(100% - 4rem);
        }
    }

    &__img {
        width: 60%;
        height: 60%;

        &--dark {
            filter: clr-dark(svg);
        }

        &--light {
            filter: clr-light(svg);
        }
    }
}