* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea, button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

ol, ul {
  list-style: none;
}

body {
  background-color: hsl(220, 66%, 8%);
  font-family: monospace, sans-serif;
  overflow: hidden;
}

h2 {
  text-shadow: 0.125rem 0.125rem 0.125rem hsl(0, 0%, 10%);
}

.hidden {
  display: none !important;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.translator {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  height: 60%;
  width: 80%;
  gap: 1.5rem;
  padding-top: 1.5rem;
  color: hsl(28, 44%, 66%);
}
.translator__container {
  display: flex;
  margin-inline: auto;
  height: 100%;
  width: 100%;
  gap: 2rem;
}
.translator__text-box {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  line-height: 1.6;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background-color: hsl(220, 34%, 20%);
}
.translator__text-box:hover, .translator__text-box:focus {
  background-color: hsl(220, 29%, 27%);
}
.translator__output {
  position: relative;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 48rem) {
  .translator {
    height: 80%;
    width: 90%;
  }
  .translator__container {
    flex-direction: column;
  }
}

.menu-line {
  display: flex;
  width: 60%;
  gap: 1rem;
  color: hsl(0, 0%, 97%);
}
.menu-line__popup-window {
  position: fixed;
  text-align: center;
  max-width: 27.5rem;
  padding-inline: 0.5rem;
  height: 100%;
  width: 0;
  right: -25rem;
  top: 0;
  z-index: 10;
  background-color: hsl(220, 29%, 27%);
}
.menu-line__popup-window--show {
  width: 100vw;
  animation: slideIn 0.75s forwards;
}

@keyframes slideIn {
  to {
    right: 0;
  }
}
.header {
  display: flex;
  width: 100%;
  gap: 0.25rem;
  padding: 0.25rem;
  color: hsl(0, 0%, 97%);
  background-color: hsl(220, 34%, 20%);
  border-bottom: 2px solid hsl(0, 0%, 40%);
}
.header__title {
  color: hsl(0, 0%, 80%);
  margin: 0.75rem;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  position: fixed;
  text-align: center;
  font-size: 12px;
}
.footer p {
  margin-top: 0.5rem;
  color: hsl(0, 0%, 97%);
}
.footer a {
  color: hsl(0, 0%, 80%);
}

.header-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: hsl(220, 34%, 20%);
  border-radius: 0.4rem;
  border-right: 0.125rem solid hsl(0, 0%, 25%);
  border-left: 0.125rem solid hsl(0, 0%, 40%);
  border-top: 0.125rem solid hsl(0, 0%, 40%);
  border-bottom: 0.125rem solid hsl(0, 0%, 25%);
  cursor: pointer;
}
.header-button__icon {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  width: 1.1rem;
  height: 1.1rem;
}
.header-button--active {
  background-color: hsl(220, 29%, 27%);
  border-right: 0.125rem solid hsl(0, 0%, 40%);
  border-left: 0.125rem solid hsl(0, 0%, 25%);
  border-top: 0.125rem solid hsl(0, 0%, 25%);
  border-bottom: 0.125rem solid hsl(0, 0%, 40%);
  box-shadow: unset;
}
.header-button:hover {
  background-color: hsl(220, 20%, 30%);
}

.window-button {
  padding: 0.25rem 0.5rem;
  background-color: hsl(220, 34%, 20%);
  border-radius: 0.25rem;
  border-right: 0.125rem solid hsl(0, 0%, 10%);
  border-left: 0.125rem solid hsl(0, 0%, 40%);
  border-top: 0.125rem solid hsl(0, 0%, 40%);
  border-bottom: 0.125rem solid hsl(0, 0%, 10%);
  cursor: pointer;
}
.window-button--active {
  background-color: hsl(220, 29%, 27%);
  color: hsl(0, 0%, 80%);
  border-right: 0.125rem solid hsl(0, 0%, 40%);
  border-left: 0.125rem solid hsl(0, 0%, 10%);
  border-top: 0.125rem solid hsl(0, 0%, 10%);
  border-bottom: 0.125rem solid hsl(0, 0%, 40%);
  box-shadow: unset;
}
.window-button--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.window-button:hover {
  background-color: hsl(220, 20%, 30%);
}

.option-selector {
  padding-block: 1rem;
  border-bottom: 0.065rem solid hsl(0, 0%, 80%);
  display: block;
}
.option-selector:last-child {
  border: none;
}
.option-selector h2 {
  margin-bottom: 0.5rem;
}
.option-selector ol,
.option-selector ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.search-bar {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar__container {
  padding-block: 0.5rem 1rem;
  border-radius: inherit;
}
.search-bar__container input {
  padding: 0.35rem 0.25rem;
  background-color: hsl(220, 29%, 27%);
  color: inherit;
  border-right: 0.125rem solid hsl(0, 0%, 40%);
  border-left: 0.125rem solid hsl(0, 0%, 10%);
  border-top: 0.125rem solid hsl(0, 0%, 10%);
  border-bottom: 0.125rem solid hsl(0, 0%, 40%);
}
.search-bar__container input::-moz-placeholder {
  color: hsl(0, 0%, 80%);
}
.search-bar__container input::placeholder {
  color: hsl(0, 0%, 80%);
}
.search-bar__container button:active {
  border-right: 0.125rem solid hsl(0, 0%, 40%);
  border-left: 0.125rem solid hsl(0, 0%, 10%);
  border-top: 0.125rem solid hsl(0, 0%, 10%);
  border-bottom: 0.125rem solid hsl(0, 0%, 40%);
  background-color: hsl(220, 29%, 27%);
}
.search-bar__message {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.313rem;
  width: 70%;
}
.search-bar__message img {
  height: 1.25rem;
  width: 1.25rem;
}
@media screen and (max-width: 30.625rem) {
  .search-bar h2 {
    width: 90%;
  }
}
@media screen and (max-width: 26.563rem) {
  .search-bar__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .search-bar__container button {
    margin-top: 0.625rem;
  }
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background-color: hsl(220, 29%, 27%);
  border-radius: 0.25rem;
  opacity: 0.5;
  width: 2.5rem;
  height: 2.5rem;
  left: calc(100% - 50px);
  top: 0.625rem;
  border-right: 0.125rem solid hsl(0, 0%, 10%);
  border-left: 0.125rem solid hsl(0, 0%, 40%);
  border-top: 0.125rem solid hsl(0, 0%, 40%);
  border-bottom: 0.125rem solid hsl(0, 0%, 10%);
  box-shadow: 0.25rem 0.15rem 0.25rem 0 hsl(0, 0%, 10%);
}
.copy-button:hover {
  opacity: 1;
}
.copy-button__icon {
  width: 70%;
  height: 70%;
}
.copy-button--active-scroll {
  left: calc(100% - 70px);
}/*# sourceMappingURL=style.css.map */