@use '../utilities/_variables' as *;
@use '../utilities/_mixins' as *;

.translator {
    display: flex;
    height: 90vh;
    color: map-get($colors, text-secondary);

    &__main-container {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        width: 100%;

        .translator__individual-container {
            position: relative;
            width: 65%;
            height: 100%;
            margin-inline: auto;

            .translator__uh {
                background-color: map-get($colors, bg-tertiary);
                padding: .25rem;
                display: flex;
                color: map-get($colors, text-white);
                
                .translator__uh-container {
                    button {
                        padding: .25rem .5rem;
                        background-color: map-get($colors, bg-secondary);
                        border-radius: .25rem;
                        border-left: 2px solid map-get($colors, soft-neutral);
                        border-top: 2px solid map-get($colors, soft-neutral);
                        border-right: 2px solid map-get($colors, strong-neutral);
                        border-bottom: 2px solid map-get($colors, strong-neutral);
                        cursor: pointer;
                        &.active {
                            background-color: map-get($colors, bg-tertiary);
                            border-right: 2px solid map-get($colors, soft-neutral);
                            border-bottom: 2px solid map-get($colors, soft-neutral);
                            border-left: 2px solid map-get($colors, strong-neutral);
                            border-top: 2px solid map-get($colors, strong-neutral);
                            color: map-get($colors, text-off-white);
                        }
                    }
    
                    .translator__uh-filter {
                        position: absolute;
                        top: 3rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 10;
                        max-width: 27.5rem;
                        width: 100%;

                        .translator__uh-input {
                            padding-inline: .5rem;
                            border: 1px solid map-get($colors, strong-neutral);
                            border-radius: .15rem;

                            &.hidden {
                                display: none;
                            }
        
                            &.active {
                                display: inline-block;
                                background-color: map-get($colors, bg-tertiary);
                            }

                            .translator__date {
                                text-align: center;
                                padding-block: 1rem;
                                border-bottom: 1px solid map-get($colors, text-off-white);
                                display: block;

                                &.hidden {
                                    display: none;
                                }
                                h2 {
                                    margin-bottom: .5rem;
                                }
                                ol, ul {
                                    display: flex;
                                    justify-content: center;
                                    flex-wrap: wrap;
                                    gap: .5rem;
                                    
                                }
                                .translator__filter-btns {
                                    padding: .25rem .75rem;
                                }
                            }

                            .translator__date:last-child {
                                border: none;
                            }

                        }
                    }
                }
            }

            .translator__text-box {
                border-radius: 0 0 0.25rem 0.25rem;
                width: 100%;
                height: 100%;
                border: none;
                background-color: map-get($colors, bg-secondary);
                padding: 0.5rem;
                line-height: 1.6;
                resize: none;
            }
        }
    }
}