@use '../utilities/_variables' as *;
@use '../utilities/_mixins' as *;

.translator {
    // Section that holds basically everything
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3.5rem;
    padding-top: 1.5rem;
    color: map-get($colors, text-secondary);

    &__container {
        // Contains input and output textareas plus its headers
        position: relative;
        width: 65%;
        height: inherit;
        margin-inline: auto;
    }
}

.translator__header {
    // Contains the visible-at-all-time buttons in the header
    display: flex;
    padding: 0.25rem;
    gap: .25rem;
    background-color: map-get($colors, bg-tertiary);
    color: map-get($colors, text-white);

    &-container {
        .translator__header-button {
            @include header-buttons()
        }

        .translator__header-interface {
            // Contains the interface opened when you click one of the header buttons
            position: absolute;
            max-width: 27.5rem;
            width: 100%;
            border-radius: .25rem;
            padding-inline: 0.5rem;
            border: 1px solid map-get($colors, bg-primary);
            top: 3rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: map-get($priority, top);
            background-color: map-get($colors, bg-tertiary);
            @include overlay-shadow();

        }
    }
}

.translator__history-update {
    // All the buttons related to the history update date buttons
    &.hidden {
        display: none;
    }

    .translator__date {
        text-align: center;
        padding-block: 1rem;
        border-bottom: 1px solid map-get($colors, text-off-white);
        display: block;

        &.hidden {
            display: none;
        }

        h2 {
            margin-bottom: 0.5rem;
        }

        ol,
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.5rem;
        }
        .translator__filter-btns {
            @include header-buttons()
        }
    }

    .translator__date:last-child {
        border: none;
    }
}

.translator__text-box {
    width: 100%;
    height: inherit;
    line-height: 1.6;
    padding: 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
    border: none;
    resize: none;
    background-color: map-get($colors, bg-secondary);
}
