@use '../utilities/_variables' as *;
@use '../utilities/_mixins' as *;

.header {
    // Contains the visible-at-all-time buttons in the header
    display: flex;
    padding: 0.25rem;
    gap: .25rem;
    background-color: map-get($colors, bg-tertiary);
    color: map-get($colors, text-white);

    &__interface {
        // Contains the interface opened when you click one of the header buttons
        position: absolute;
        text-align: center;
        max-width: 27.5rem;
        width: 100%;
        border-radius: .25rem;
        padding-inline: 0.5rem;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: map-get($priority, top);
        background-color: map-get($colors, bg-tertiary);
        @include soft-shadow();
    }
}