@use '../utilities/_mixins' as *;
@use '../utilities/_functions' as *;

.header {
    display: flex;
    width: 100%;
    gap: .25rem;
    padding: 0.25rem;
    color: clr(text-white);
    background-color: clr(bg-secondary);
    border-bottom: 2px solid clr(soft-neutral);

    &__title {
        color: clr(text-off-white);
        margin: 0.75rem;
    }
}