@use '../utilities/_functions' as *;

.body {
    font-family: monospace, sans-serif;
    overflow: hidden;

    &--dark {
        background-color: clr-dark(bg-primary);
    }

    &--light {
        background-color: clr-light(bg-primary);
    }
    
}

h2 {
    text-shadow: 0.125rem 0.125rem 0.125rem clr(strong-neutral);
}

.hidden {
    display: none !important;
}