* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea, button {
    font-family: inherit;
    font-size: inherit;
}

button { 
    color: inherit;
}

ol, ul {
    list-style: none;
}