@use '../utilities/_functions' as *;

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    position: fixed;
    text-align: center;
    font-size: 12px;

    &__text { 
        margin-top: 0.5rem;

        &--dark {
            color: clr-dark(text-white);
        }

        &--light {
            color: clr-light(text-white);
        }
    }

    &__link {
        &--dark {
            color: clr-dark(text-off-white);
        }

        &--light {
            color: clr-light(text-off-white);
        }
    }
}