@use '../utilities/_mixins' as *;
@use '../utilities/_functions' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.25rem;
    padding: 0.25rem;

    &--dark {
        color: clr-dark(text-white);
        background-color: clr-dark(bg-secondary);
        border-bottom: 2px solid clr-dark(soft-neutral);
    }

    &--light {
        color: clr-light(text-grey);
        background-color: clr-light(bg-secondary);
        border-bottom: 2px solid clr-light(soft-neutral);
    }

    &__title {
        margin: 0.75rem;
        font-size: clamp(1rem, 3vw + 0.25rem, 1.5rem);

        &--dark {
            color: clr-dark(text-off-white);
        }

        &--light {
            color: clr-light(text-off-grey);
        }

        @include mobile-m() {
            width: 50%;
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 0.5rem;
        border: none;
        cursor: pointer;

        &--dark {
            background-color: clr-dark(bg-secondary);

            & img {
                filter: clr-dark(svg);
            }
        }

        &--light {
            background-color: clr-light(bg-secondary);

            & img {
                filter: clr-light(svg);
            }
        }

        @include mobile-m() {
            margin-right: 0;
            height: 4rem;
            width: 4rem;
        }
    }
}
