@use '../utilities/_mixins' as *;
@use '../utilities/_functions' as *;

.menu-line {
    display: flex;
    width: 60%;
    gap: 1rem;
    
    &--dark {
        color: clr-dark(text-white);
    }

    &--light {
        color: clr-white(text-white);
    }

    &__popup-window {
        position: fixed;
        text-align: center;
        max-width: 27.5rem;
        padding-inline: 0.5rem;
        height: 100%;
        width: 0;
        right: -25rem;
        top: 0;
        z-index: priority(high);
        
        &--dark {
            background-color: clr-dark(bg-tertiary);
        }

        &--light {
            background-color: clr-light(bg-tertiary);
        }

        &--show {
            width: 100vw;
            animation: slideIn 0.75s forwards;
        }
    }
}

@keyframes slideIn {
    to {
        right: 0;
    }
}