@use '../utilities/_mixins' as *;
@use '../utilities/_functions' as *;

.menu-line {
    display: flex;
    flex-wrap: wrap;  
    gap: 1rem;
    
    &--dark {
        color: clr-dark(text-white);
    }

    &--light {
        color: clr-light(text-grey);
    }

    &__popup-window {
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        position: fixed;
        max-width: 27.5rem;
        padding-inline: 0.5rem;
        z-index: priority(high);
        height: 100%;
        width: 100vw;
        right: -30rem;
        top: 0;
        
        &::-webkit-scrollbar {
            width: 1.5rem;
        }
        
        &::-webkit-scrollbar-thumb { 
            border-radius: 1rem;
        }
    
        &--dark {
            background-color: clr-dark(bg-tertiary);

            &::-webkit-scrollbar-track {
                background: clr-dark(bg-tertiary);
            }
    
            &::-webkit-scrollbar-thumb {
                border: 0.5rem solid clr-dark(bg-tertiary);
                background: clr-dark(bg-secondary);
            }
        }
    
        &--light {
            background-color: clr-light(bg-tertiary);

            &::-webkit-scrollbar-track {
                background: clr-light(bg-tertiary);
            }
        
            &::-webkit-scrollbar-thumb {
                border: 0.5rem solid clr-light(bg-tertiary);
                background: clr-light(text-secondary);
            }
        }

        &--show {
            animation: slideIn 0.75s forwards;
        }

        &--hide {
            right: 0;
            animation: slideOut 0.75s forwards;
        }
    }

    @include mobile-m() {
        justify-content: space-evenly;
        width: 100%;
    }
}

@keyframes slideIn {
    to {
        right: 0;
    }
}

@keyframes slideOut {
    to {
        right: -30rem;
    }
}