@use './_variables' as *;

@mixin screen($size) {
    @media screen and (max-width: $size) {
        @content;
    }
}

@mixin soft-shadow() {
    box-shadow: .25rem .15rem .25rem 0 rgba(0, 0, 0, .15);
}

@mixin border-lighting($right-bottom, $left-top ) {
    border-right: 0.125rem solid map-get($colors, $right-bottom);
    border-left: 0.125rem solid map-get($colors, $left-top);
    border-top: 0.125rem solid map-get($colors, $left-top);
    border-bottom: 0.125rem solid map-get($colors, $right-bottom);
}