@use './_functions' as *;

// Breakpoints
@mixin mobile() {
    @media screen and (max-width: bp(mobile)) {
        @content;
    }
}

@mixin mobile-l() {
    @media screen and (max-width: bp(mobile-l)) {
        @content;
    }
}

@mixin tablet-s() {
    @media screen and (max-width: bp(tablet-s)) {
        @content;
    }
}

@mixin tablet() {
    @media screen and (max-width: bp(tablet)) {
        @content;
    }
}

@mixin laptop() {
    @media screen and (max-width: bp(laptop)) {
        @content;
    }
}

// Styles
@mixin soft-shadow() {
    box-shadow: .25rem .15rem .25rem 0 clr(strong-neutral);
}

@mixin border-lighting($right-bottom, $left-top ) {
    border-right: 0.125rem solid clr($right-bottom);
    border-left: 0.125rem solid clr($left-top);
    border-top: 0.125rem solid clr($left-top);
    border-bottom: 0.125rem solid clr($right-bottom);
}