$colors: (
    bg-primary: hsl(220, 66%, 8%),
    bg-secondary: hsl(220, 34%, 20%),
    text-primary: hsl(28, 100%, 65%),
    text-secondary: hsl(28, 44%, 66%),
);

$typography: ();

$breakpoints: (
    mobile-m: 23.438rem,
    mobile-l: 26.563rem,
    tablet: 48rem,
    laptop: 64rem,
);
