@use '../utilities/_variables' as *;

body {
    background-color: map-get($colors, bg-primary);
    font-family: monospace ,sans-serif;
}

h2 {
    text-shadow: 2px 2px 2px map-get($colors, strong-neutral);
}

.hidden {
    display: none !important;
}