@use '../utilities/_functions' as *;

body {
    background-color: clr(bg-primary);
    font-family: monospace, sans-serif;
}

h2 {
    text-shadow: 2px 2px 2px clr(strong-neutral);
}

.hidden {
    display: none !important;
}