:root {
  --clr-black-pearl: hsl(220, 66%, 8%);
  --clr-cloud-burst: hsl(220, 34%, 20%);
  --clr-pickled-bluewood: hsl(220, 29%, 27%);
  --clr-oxford-blue: hsl(220, 20%, 30%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-wild-sand: hsl(0, 0%, 95%);
  --clr-silver: hsl(0, 0%, 80%);
  --clr-bittersweet: hsl(0, 100%, 73%);
  --clr-golden-tainoi: hsl(41, 100%, 65%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-cod-gray: hsl(0, 0%, 10%);
  --clr-tundora: hsl(0, 0%, 25%);
  --clr-dove-gray: hsl(0, 0%, 40%);

  // Neutral colors
  --clr-neutral--softest: var(--clr-white);
  --clr-neutral--soft: var(--clr-dove-gray);
  --clr-neutral--mid: var(--clr-tundora);
  --clr-neutral--strong: var(--clr-cod-gray);
  --clr-neutral--strongest: var(--clr-black);

  // Accent colors
  --clr-accent--danger: var(--clr-bittersweet);
  --clr-accent--warning: var(--clr-golden-tainoi);
}

[data-theme='dark'] {
  --clr-bg-primary: var(--clr-black-pearl);
  --clr-bg-secondary: var(--clr-cloud-burst);
  --clr-bg-tertiary: var(--clr-pickled-bluewood);
  --clr-bg-quaternary: var(--clr-oxford-blue);
  --clr-text-primary: var(--clr-wild-sand);
  --clr-text-secondary: var(--clr-silver);
}
