:root {
  --spacing-100: 8px;
  --spacing-200: 12px;
  --spacing-300: 16px;
  --spacing-400: 20px;
  --spacing-500: 24px;
  --spacing-600: 28px;
  --spacing-700: 32px;
  --spacing-800: 36px;
  --spacing-900: 40px;
}
